section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 React: the bad
  section
        h2 React is nothing but the view
        ul
          li No events
          li No XHR
          li No data / models
          li No promises / deferreds
          li No idea how to add all of the above
  section
        h2 Very little info in the docs
        ul
          li But it's not hard to learn
  section
        h2 Building JSX requires some extra work
        ul
          li But most of the work is already done for you by react-tools
  section
        h2 No support for older browsers
        ul
          li React won't work with IE8
          li There some polyfills / shims that help
