section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 Who uses React?
  section
        h2 Who uses React?
        image(class='react-site' src='images/sites.png' height='500')

