section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 A nested component
  section
        h2 A nested component
        pre
          code(class='hljs javascript')
            |  // Application
            |  class App extends React.Component {
            |    render() {
            |      return <Button>I &lt;Heart/&gt;,  React</Button>
            |    }
            |  }
            |
            |  // Parent Component
            |  const Button = (props) =>
            |    <button>
            |      {props.children}
            |    </button>
            |
            |  // Child Component
            |  const Heart = (props) =>
            |    <span>&hearts;</span>
            |
            |  ReactDOM.render(&lt;App/&gt;, document.getElementById('app'));
