section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 Why should I use React?
  section
        h2 Why should I use React?
        ul
          li Easy to read and understand views
          li Concept of components is the future of web development
          li If your page uses a lot of fast updating data or real time data - React is the way to go
          li Once you and your team is over the React's learning curve, developing your app will become a lot faster
