section
  section
    div(class='sl-block')
      div
        h1 What is React.js?
  section
        h2 What is React.js?
        ul
          li Developed by Facebook
          li React is a view layer library, not a framework like Backbone, Angular etc.
          li You can't use React to build a fully-functional web app
