section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 Lifecycle of Components
  section
        h2 Lifecycle of Components
        p Each component in React has a lifecycle which you can monitor and manipulate during its three main phases.
  section
        h2 The three phases
        image(class='react-site' src='images/lifecycles.png' width='1000')
