section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 Why was React developed?
  section
        h2 Why was React developed?
        ul
          li Complexity of two-way data binding
          li Bad UX from using "cascading updates" of DOM tree
          li A lot of data on a page changing over time
          li Complexity of Facebook's UI architecture
          li Shift from MVC mentality
