section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 Is switching to React easy?
  section
        h2 Is switching to React easy?
        p Understanding how it works will take time and will slow you down at first (but once you and your team get it, things will start happening much faster)
