section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 React: the good
  section
        h2 Easy to understand what a component will render
        ul
          li Declarative code → predictable code
          li You don't really need to study JS in the view file in order to understand what the file does
  section
        h2 Easy to mix HTML and JS
        ul
          li You do it already with template libraries (e.g. Handlebars, Mustache, Underscore etc.)
  section
        h2 Uses full power of JS
        ul
          li Decoupling templates from logic does not rely on the templates’ primitive abstractions, but uses full power of JavaScript in displaying views
  section
        h2 No complex two-way data flow
        ul
          li Uses simple one-way reactive data flow
          li Easier to understand than two-way binding
          li Uses less code
  section
        h2 React is fast!
        ul
          li Real DOM is slow
          li JavaScript is fast
          li Using virtual DOM objects enables fast batch updates to real DOM, with great productivity gains over frequent cascading updates of DOM tree
  section
        h2 React dev tools
        ul
          li React Chrome extension makes debugging  so much easier
  section
        h2 Server-side rendering
        ul
          li React.renderToString() returns pure HTML
