section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 An app
  section(class='app')
        h2 An app
        p
          a(href='https://ahfarmer.github.io/calculator/' target='_blank' rel='noopener noreferrer') https://ahfarmer.github.io/calculator/
        iframe(width='600' height='480' src='https://ahfarmer.github.io/calculator/')
