section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 Fundamentals
        p Most important terms in React
  section
        h2 Three key terms you need to know about React.js
        ul
          li Components
          li JSX
          li Redux
  section
        h2 The most impressive React.js features
        ul
          li Declarativity
          li Component-based approach
          li Minimalism
          li Huge ecosystem and flexibility
          li Backward compatibility
