section
  section
    div(class='sl-block')
      div(class='sl-block-content')
        h1 Props
  section
        h2 Props
        ul
          li Passed down to component from parent component and represents data for the component
          li accessed via this.props
        pre(class='props')
          code(class='hljs javascript')
            |  class App extends React.Component {
            |    render() {
            |      return (
            |        <h1>Here {this.props.name}!</h1>
            |      )
            |    }
            |  }
            |
            |  ReactDOM.render(&lt;App name={'Meowser'}/&gt;, document.getElementById('app'));
