section
  section
    div(style="display: flex;")
      div(class='sl-block')
        div(class='sl-block-content about-me')
          h2 About me
          p Anastasiya Sidarovich
          p AEM/Java Software Engineer at
            a(href='http://www.digitech7.by/en/' target='_blank' rel='noopener noreferrer')  Digitech7
          p
            a(href='https://www.linkedin.com/in/anastasiya-sidarovich/' target='_blank' rel='noopener noreferrer') https://www.linkedin.com/in/anastasiya-sidarovich/
          p anasidorovich@gmail.com
      div(class='sl-block')
        div(class='sl-block-content')
          image(class='react-site' src='images/profile.jpg' height='500')

